
body {
    background-color: #0a1625;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}



h1 {
    color: #afaeae;
}
h2 {
    color:#afaeae;
}
h3 {
    color:#afaeae;
}
h4 {
    color:#afaeae;
}
h5 {
    color:#afaeae;
}
h6 {
    color:#afaeae;
}
h7 {
    color: #afaeae;
}



a {
    color:#808a96;
    text-decoration: none;
    user-select: none;
}

a:hover {
    color: #6892c6;
}

p {
    color:#afaeae;
    /* background:#152232; */
    font-size: 1.2em;
    text-align: start;
}

table {
    color: #afaeae;
    text-align: left;
}

ul {

}

.bottomnav {
    text-align: left;
    user-select: text;
    font-family: 'Oswald',sans-serif;
}

.bottomnav thead {
    display: inline-block;
    padding: 8px;
    font-size: 18px;
}



.bottomnav table {
    list-style-type: none;
    overflow: hidden;
    background-color: #152232;
    position: fixed;
    bottom: 0;
    padding: 16px;
    left: 0;
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
    border-top-style: outset;
    border-top-color: #385a85;
    border-top-width: 3px;

}


.topnav li {
    display: inline-block;
    padding: 14px;
}

.topnav a {
    display: inline;
    background-color:#152232;
}

.topnav ul {
    list-style-type: none;
    padding: 16px;
    background-color: #152232;  
    position: fixed;
    top: 0;
    margin: 0;
    left: 0;
    width: 100%;
    border-bottom-color: #385a85;
    border-bottom-width: 3px;
    border-bottom-style: outset;
}


 .topnav li a {
    display: inline;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 0.25px;
    
}

.topnav {
    width: 100%;
    text-align: left;
    position: fixed;
    user-select: none;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.25px;
}

.padding-start {
    padding-inline-start: 130px;
}

.padding-end {
    padding-inline-start: 150px;
}
